* {box-sizing: border-box;}

body{
    width: 100%;
    Height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 100%;
    height: 70px;
    z-index: 1;
    font-family: 'Didact Gothic', sans-serif;
    box-shadow: 0 20px 20px -20px rgba(0,0,0,.2);
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    font-family: 'Didact Gothic', sans-serif;
    margin: 0 30px 0 0;
}

.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Didact Gothic', sans-serif;
}


.navbar a {
    clear: right;
    text-decoration: none;
    margin: 0 10px;

}

label {
    margin: - 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .nav {
        text-align: center;
        width: 100%;
        display: none;
    }
    .nav a {
        display: block;
        border-bottom: 1px solid black;
        margin: 0;
    }
    #toggle:checked + .nav {
        display: block;
    }
}

a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Didact Gothic', sans-serif;
}
a:hover{
    color: #000;
    font-family: 'Didact Gothic', sans-serif;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#austin{
    position: relative;
    filter: blur(8px);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.bio, .skills, .portfolio, .contact{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-family: 'Didact Gothic', sans-serif;
}

.contact{
    text-align: center;
    height: 40vh;
}
/* text styling */
.text{
    width: 65%;
    height: 80%;
}

h1{
    font-size: 50px;
    font-family: 'Didact Gothic', sans-serif;
}

p{
    font-size: 24px;
    line-height: 50px;
}




/* section colors */
.bio, .portfolio{
    background: #fefefe;
    color: #262626;
}

.skills, .contact{
    background: #262626;
    color: #fefefe;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}




/* smooth scroll navigation */
html{
    scroll-behavior:smooth;
}




/* home */
.image-cropper {
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    filter: blur(0);
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px; /* Half the height */
    margin-left: -200px; /* Half the width */
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 105%;
  width: auto;
  filter: blur(0px);
}

#banner-text {
    position: absolute;
    color: #fefefe;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* portfolio gallery */
.flexbox {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
  .container {
    position: relative;
    display: inline-block;
    height: 330px;
    }


.image {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 2s;
}

.overlay {
    position: absolute; 
    bottom: 4%; 
    transform: translate(0%, 50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /*Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
.container:hover .overlay {
    opacity: 1;
  } 


/*contact */
.contact-images {
    height: 120px;
    position: nowrap;
}

.contact-links {
    margin: auto; 
    text-align: center; 
    position: relative;
}

@media only screen and (max-width: 600px) {
.contact-images {
    height: 25%;
    width: 25%;
    }
}